* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

div.main {
    background-color: rgb(91, 102, 114);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
}

div.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 18rem;
}


